:root{
    --ship_color: rgb(3, 78, 145);
}


@font-face {
    font-family: myFont;
    src: url(Poppins-Medium.ttf);
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: myFont;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 12fr 0.5fr;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#title_div {

    font-size: 34px;

}

#footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer>span{
    font-style: italic;
}

a{
    margin-left: 5px;
    color: black;
    text-decoration: none;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    justify-items: center;
    align-items: center;
}

#player1Div,#player2Div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bottom_text {
    grid-column: 1/3;
    grid-row: 2/3;
}

#board {
    /* border: 1px solid rgba(0, 0, 0, 0.505); */
    min-width: 400px;
    min-height: 400px;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
}

.gameWon{
    border: 5px solid green;
}

.gameLost{
    border: 5px solid red;
}

.inactiveGameboard{
    pointer-events: none;
    filter: blur(2px);
}

.inactiveBox{
    pointer-events: none;

}

.gameboard_box{
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not_contains_ship{
    border: 2px solid rgba(62, 192, 240, 0.532);
}



.horizontal_first{
    border-left: 2px solid var(--ship_color);
    border-top: 2px solid var(--ship_color);
    border-bottom: 2px solid var(--ship_color);
}

.horizontal_middle{
    border-top: 2px solid var(--ship_color);
    border-bottom: 2px solid var(--ship_color);
}

.vertical_middle{
    border-left: 2px solid var(--ship_color);
    border-right: 2px solid var(--ship_color);
}

.horizontal_last{
    border-right: 2px solid var(--ship_color);
    border-top: 2px solid var(--ship_color);
    border-bottom: 2px solid var(--ship_color);
}

.vertical_first{
    border-left: 2px solid var(--ship_color);
    border-top: 2px solid var(--ship_color);
    border-right: 2px solid var(--ship_color);
}

.vertical_last{
    border-left: 2px solid var(--ship_color);
    border-bottom: 2px solid var(--ship_color);
    border-right: 2px solid var(--ship_color);
}

.single_box_ship{
    border-left: 2px solid var(--ship_color);
    border-bottom: 2px solid var(--ship_color);
    border-right: 2px solid var(--ship_color);
    border-top: 2px solid var(--ship_color);
}

.hit{
    border: 2px solid red;
    font-size: 27px;
    background-color: rgb(209, 209, 209);
}

